# Exercise 1.4

1.	What is the output of the following print statements?

In [1]:
print("\ta\tb\tc")

	a	b	c

In [2]:
print("\\\\")

\\

In [4]:
print("'")

'

In [5]:
print("\"\"\"")

"""

In [6]:
print("C:\nin\the downward spiral")

C:
in	he downward spiral

2.	Write a print statement to produce this output:

In [ ]:
/ \ // \\ /// \\\

In [16]:
print("/" '' "\\" '' "//" '' "\\\\" '' "///" '' "\\\\\\")

/\//\\///\\\

3.	What print statements will generate this output?
This quote is from Irish poet Oscar Wilde:
"Music makes one feel so romantic

- at least it always gets on one's nerves â€“ which is the same thing nowadays."

In [19]:
print("This quote is from Irish poet Oscar Wilde:")
print("\"Music makes one feel so romantic")
print("- at least it always gets on one's nerves -")
print("which is the same thing nowadays.\"")

This quote is from Irish poet Oscar Wilde:
"Music makes one feel so romantic
- at least it always gets on one's nerves -
which is the same thing nowadays."

4.	What print statements will generate this output?
A "quoted" String is 'much' better if you learn
the rules of "escape sequences." Also, "" represents an empty String. Don't forget: use \" instead of " ! '' is not the same as "

In [21]:
print("A \"quoted\" String is")
print("'much' better if you learn")
print("the rules of \"escape sequences.\"")
print()
print("Also, \"\" represents an empty String.")
print("Don't forget: use \\\" instead of \" !")
print("'' is not the same as \"")

A "quoted" String is
'much' better if you learn
the rules of "escape sequences."

Also, "" represents an empty String.
Don't forget: use \" instead of " !
'' is not the same as "

5.	What values result from the following expressions?

In [22]:
9 / 5

1.8

In [23]:
695 / 20

34.75

In [24]:
7 + 6 * 5

37

In [25]:
7 * 6 + 5

47

In [26]:
248 % 100 / 5

9.6

In [27]:
6 * 3 - 9 / 4

15.75

In [28]:
(5 - 7) * 4

-8

In [29]:
6 + (18 % (17 - 12))

9

# Exercise 3.3

1. Write a program that finds the maximum value of the given list, assuming that the list 
contains at least one element. 
Try your program with the following array 
2 4 7 4 23 5 1 4 8 9

In [36]:
print(max(2,4,7,4,23,5,1,4,8,9))

23

2. Write a program that calculates the average value of the given list. 
Try your program with the following list 
4 7 1 5 11 53 12 46 84 23

In [2]:
num_list = [4,7,1,5,11,53,12,46,84,23]

In [3]:
average = sum(num_list)/len(num_list)

In [4]:
print(average)

24.6

3. Write a program that prints the given list of integers in reverse order. 
Try your program with the following list 
2 6 7 45 23 53 14 45 89 5

In [5]:
num_list2 = [2,6,7,45,23,53,14,45,89,5]

In [6]:
num_list2.reverse()

In [18]:
print(num_list2)

[5, 89, 45, 14, 53, 23, 45, 7, 6, 2]

4. Write a program that accepts two lists of integers and prints true if each element in the first 
list is less than the element at the same index in the second list. Your program should print 
false if the lists are not the same length.

In [28]:
def compare_lists(list1, list2):
    # Checking to see if the lists are the same length
    if len(list1) != len(list2):
        return False  # If lists are not the same length, return False
    
    # Compare elements at each index
    for i in range(len(list1)):
        if list1[i] >= list2[i]:
            return False  # If any element in list1 is not less than the corresponding element in list2, return False
    
    return True  # If all elements satisfy the condition, return True

# Given lists
list_a = [2, 4, 6, 8, 10]
list_b = [1, 3, 5, 7]

# print the comparison result
print(compare_lists(list_a, list_b)) 
print(compare_lists(list_a, list_b))

False
False

5. Write a program that accepts a list of integers and two indexes and swaps the elements at 
those indexes

In [29]:
def swap_elements(input_list: list, index1: int, index2: int):
    # simply swap where the two items are using the index
    
    if 0 <= index1 < len(input_list) and 0 <= index2 < len(input_list):
        input_list[index1], input_list[index2] = input_list[index2], input_list[index1]
        return input_list  # Return the modified list after swapping
    else:
        return "Invalid indexes. Please provide valid indexes within the list range."

# Given list
input_list = [2, 4, 6, 8, 10]

# Indexes to swap
index1 = 1
index2 = 4

# Swapping elements at given indexes
result = swap_elements(input_list, index1, index2)
print("The list after swapping the elements at indexes", index1, "and", index2, "is :", result)

The list after swapping the elements at indexes 1 and 4 is : [2, 10, 6, 8, 4]

6. Write a program that accepts two lists of integers and prints a new list containing all 
elements of the first list followed by all elements of the second.

In [30]:
def combine_lists(list1, list2):
    combined_list = list1 + list2  # Concatenate the two lists
    return combined_list

# lists of intergers
first_list = [1, 2, 3, 4]
second_list = [5, 6, 7, 8]

# Combining the two list into a new list
newcombined_list = combine_lists(first_list, second_list)
print("The combined list is:", newcombined_list)

The combined list is: [1, 2, 3, 4, 5, 6, 7, 8]

7. Write a program that accepts a list of integers and an integer value as its parameters and 
prints the last index at which the value occurs in the list. The program should print â€“1 if the 
value is not found. For example, in the list [74, 85, 102, 99, 101, 85, 56], the last index of the 
value 85 is 5.

In [31]:
def last_index_of_value(input_list: list, value: int):
    if value in input_list[::-1]:  # Check if the value exists in the reversed list
        last_index = len(input_list) - input_list[::-1].index(value) - 1  # Calculate the last index
        return last_index
    else:
        return -1  # Return -1 if the value is not found

# Given list
given_list = [74, 85, 102, 99, 101, 85, 56]

# Value to search for
search_value = 85

# Find and print the last index of the value in the list
result = last_index_of_value(given_list, search_value)
print("The last index of the value", search_value, "is", result)

The last index of the value 85 is 5

8. Write a program that prints the range of values in a list of integers. The range is defined as 1 
more than the difference between the maximum and minimum values in the list. For 
example, if a list contains the values [36, 12, 25, 19, 46, 31, 22], the program should return 
35. You may assume that the list has at least one element.

In [32]:
def range(input_list):
    min_val = min(input_list)  # Find the minimum value
    max_val = max(input_list)  # Find the maximum value
    
 # Calculate the range   
    range_value = max_val - min_val + 1  
    return range_value

input_list = [36, 12, 25, 19, 46, 31, 22]

# print the range of values in the list
result = range(input_list)
print("The range of values in the list is", result)

The range of values in the list is 35

9. Write a program that accepts a list of integers, a minimum value, and a maximum value and 
prints the count of how many elements from the list fall between the minimum and 
maximum (inclusive). For example, in the list [14, 1, 22, 17, 36, 7, -43, 5], for minimum value 
4 and maximum value 17, there are four elements whose values fall between 4 and 17.

In [33]:
def count_elements_in_range(input_list, min_val, max_val):
    count = sum(1 for element in input_list if min_val <= element <= max_val)
    return count

# Given list
input_list = [14, 1, 22, 17, 36, 7, -43, 5]

# Minimum and maximum values
min_value = 4
max_value = 17

# Count elements between the minimum and maximum values in the list
result = count_elements_in_range(input_list, min_value, max_value)
print(f"The count of elements between {min_value} and {max_value} is: {result}")

The count of elements between 4 and 17 is: 4

10. Write a program that accepts a list of real numbers and prints true if the list is in sorted 
(nondecreasing) order and false otherwise. For example, if lists named list1 and list2 store 
[16.1, 12.3, 22.2, 14.4] and [1.5, 4.3, 7.0, 19.5, 25.1, 46.2] respectively, the program should 
print false for list1 and true for list2 respectively. Assume the list has at least one element. A 
one-element list is sorted.

In [39]:
# Write a program that accepts a list of real numbers and prints true if the list is in sorted (nondecreasing) order and false otherwise. 
# For example, if lists named list1 and list2 store [16.1, 12.3, 22.2, 14.4] and [1.5, 4.3, 7.0, 19.5, 25.1, 46.2] respectively, the program should print false for list1 and true for list2 respectively.
# Assume the list has at least one element. 
# A one-element list is sorted.

def is_sorted(data):
 if len(data) <= 1:
   return True

 for i in range(1, len(data)):
   if data[i-1] > data[i]:
     return False
 return True

list1 = [16.1, 12.3, 22.2, 14.4]
list2 = [1.5, 4.3, 7.0, 19.5, 25.1, 46.2]

print(f"List 1 sorted: {is_sorted(list1)}")
print(f"List 2 sorted: {is_sorted(list2)}")

TypeError: range() takes 1 positional argument but 2 were given

# Exercise 4.4

1. Write a program to produce the following output using for loop 
+----+ 
\    
/    
\    
/    
\    
/    
/ 
\ 
/ 
\ 
/ 
\ 
+----+

In [ ]:
for i in range(1):
    print("+----+")
    print("\\    /")
    print("/    \\")
    print("\\    /")
    print("/    \\")
    print("\\    /")
    print("/    \\")
    print("+----+")

In [ ]:
2. Write a program to produce the following output using for loop 
********** 
********** 
********** 
********** 
**********

In [49]:
# Write a program to produce the following output using for loop

for i in range(5):
    print(''**********')

SyntaxError: invalid syntax (798907463.py, line 4)

In [ ]:
3. Complete the code for the following for loop:  
for in range(1,7): 
//your code here 
so that it prints the following numbers, one per line: 
a) 1 b) 2 c) 4 d) 30 e) -7 f) 97 g) -4 
 2  4  19  20  -3  94  14 
 3  6  34  10  1  91  32 
 4  8  49  0  5  88  50 
 5  10  64  -10  9  85  68 
 6  12  79  -20  13  82  86

In [41]:
for a in range(1,7):
    print (a)

TypeError: range() takes 1 positional argument but 2 were given

In [ ]:
4. Write a program to produce the following output using for loops. Then 
use a class constant to make it possible to change the number of lines in 
the figure. 
1 
22 
333 
4444 
55555 
666666 
7777777

In [ ]:
5. Write a method named pay that accepts two parameters: a real number 
for a TA's salary, and an integer for the number of hours the TA worked 
this week. The method should return how much money to pay the TA. 
For example, the call  
pay(5.50, 6)  
should return  
33.0.  
The TA should receive "overtime" pay of 1 Â½ normal salary for any hours 
above 8. For example, the call pay(4.00, 11) should return (4.00 * 
8) + (6.00 * 3) or 50.0.

In [ ]:
6. Consider the following method for converting milliseconds into days: 
// converts milliseconds to days 
def toDays(millis):  
return millis / 1000.0 / 60.0 / 60.0 / 24.0 
Write a similar method named area that takes as a parameter the radius of 
a circle and that returns the area of the circle. For example, the call  
area(2.0);  
should return  
12.566370614359172.  
Recall that area can be computed as Ï€ times the radius squared and that 
Python has a constant called math.pi

In [ ]:
7. Copy and paste the following code into pythons IDLE script 
environment. 
low = 1 
high = 1001 
sum = 0 
for i in range(low,high): 
sum += i 
print("sum = " , sum) 
Modify the code to use a input to prompt the user for the values of low 
and high. Below is a sample execution in which the user asks for the same 
values as in the original program (1 through 1000): 
low? 1 
high? 1001 
sum = 500500 
Below is an execution with different values for low and high: 
low? 300 
high? 5298 
sum = 13986903 
You should exactly reproduce this format.

In [ ]:
8. Write a program using while loop that prompts the user for numbers until 
the user types 0, then outputs their sum.

In [ ]:
9. Write a program using while loop that prompts the user for numbers until 
the user types -1, then outputs their sum.

In [ ]:
10. Write a method named repl that accepts a String and a number of 
repetitions as parameters and returns the String concatenated that many 
times. For example, the call repl("hello", 3) returns "hellohellohello". 
If the number of repetitions is 0 or less, an empty string is returned.

In [ ]:
11. Write a method called printRange that accepts two integers as arguments and 
prints the sequence of numbers between the two arguments, separated by 
spaces. Print an increasing sequence if the first argument is smaller than 
the second; otherwise, print a decreasing sequence. If the two numbers 
are the same, that number should be printed by itself. Here are some 
sample calls to printRange:  
printRange(2, 7) 
printRange(19, 11) 
printRange(5, 5) 
The output produced should be the following:  
2 3 4 5 6 7  
19 18 17 16 15 14 13 12 11  
5

In [ ]:
12. Write a method named smallestLargest that asks the user to enter numbers, 
then prints the smallest and largest of all the numbers typed in by the 
user. You may assume the user enters a valid number greater than 0 for 
the number of numbers to read. Here is an example dialogue:  
How many numbers do you want to enter? 4 
Number 1: 5 
Number 2: 11 
Number 3: -2 
Number 4: 3 
Smallest = -2
Largest = 11

In [ ]:
13. Write a method called printAverage that uses a sentinel loop to 
repeatedly prompt the user for numbers. Once the user types any number 
less than zero, the method should display the average of all nonnegative 
numbers typed. Display the average as a double. Here is a sample 
dialogue with the user: 
Type a number: 7 
Type a number: 4 
Type a number: 16 
Type a number: â€“4 
Average was 9.0 
If the first number that the user types is negative, do not print an average: 
Type a number: â€“2

In [ ]:
14. Write a method named numUnique that takes three integers as parameters 
and returns the number of unique integers among the three. For example, 
the call numUnique(18, 3, 4) should return 3 because the parameters 
have three different values. By contrast, the call numUnique(6, 7, 6) 
should return 2 because there are only two unique numbers among the 
three parameters: 6 and 7.

In [ ]:
15. A Random object generates pseudo-random numbers. Find out how to 
use the Random class and write a program that simulates rolling of two 6
sided dice until their combined result comes up as 7. One possible output 
can be seen as below: 
2 + 4 = 6 
3 + 5 = 8 
5 + 6 = 11 
1 + 1 = 2 
4 + 3 = 7 
You won after 5 tries!